body{
	font-family: 'Abel', sans-serif;
}

h1{
	font-family: 'Fjalla One', sans-serif;
}

.main{
	padding-top: 5em;

}

.honeypot {
	display: none;
}

.container-fluid {
	width: 100vw;
}

/* Home */

#home {
	height: 100vh;
}

/* Contact */
.socialBtn img{
	width: 1.875em;
	height: 1.875em;
	padding: 1.875em;
}

.contact-form {
	margin: 0 auto;
}

#contact-submit {
	width: 25%;
	margin: 0 auto;
}

#contact-submit button{
	color: #fff;
	text-align: center;
	width: 100%;
	background-color: #2b4570;
}

/*Work*/

#work {
	background-color: #9fa9be;
	padding: 2em 0;
}

.workEx {
	padding: 2em;
}

.workEx img{
	width: 100%;
	z-index: 2;
}

.workLinks a{
	color: white;
	font-size: 2em;
	z-index: 1;
	background-color: rgba(255, 255, 255, 0.8);
	display: none;
}

.workLinks a h4{
	top: 260px;
	text-align: right;
	right: 100px;
	position: absolute;
}

.workLinks a h3{
	top: 140px;
	left: 50px;
	position: absolute;
}
