body{
	font-family: 'Lora', serif;
	font-size: 1.5em;
}

h1{
	font-family: 'Lobster', cursive;
	font-size: 2em;
}

/*.main{
	width: 100vw;
}*/

.honeypot {
	display: none;
}

.container-fluid {
	padding-right: 0;
	padding-left: 0;
}

/*NavBar */

.bg-faded {
	background-color: #5f738e;
	font-size: .8em;
}

/* Home */

#home {
	height: 100vh;
	background: url("../img/coffee.jpg") left top;
	background-size: cover;
	background-attachment: fixed;
	color: white;
}

.home-info {
	padding-top: 5em;
}

/* Contact */
.socialBtn img{
	width: 2em;
	height: 2em;
}

.contact-form {
	margin: 0 auto;
}

#contact-submit {
	width: 25%;
	margin: 0 auto;
}

#contact-submit button{
	color: #fff;
	text-align: center;
	width: 100%;
	background-color: #2b4570;
}

/*Work*/

#work {
	background-color: #9fa9be;
	
}

.workEx {
	padding: 2em;
}

.workEx img{
	width: 100%;
	z-index: 2;
}

.workLinks a{
	color: white;
	font-size: 2em;
	z-index: 1;
	background-color: rgba(255, 255, 255, 0.8);
	display: none;
}

.workLinks a h4{
	top: 260px;
	text-align: right;
	right: 100px;
	position: absolute;
}

.workLinks a h3{
	top: 140px;
	left: 50px;
	position: absolute;
}
